body {
    /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.62857143;
    color: #333;
    background-color: #fff;*/
}

l.ink-products{
	width:29%;
	
}

#filter a {
    color: black;
	text-decoration: none;
}

.panel-title-region {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.panel-heading-region{
    border-bottom-color: #ddd;
    border-bottom-style: solid;
    border-bottom-width: 1px; 
	opacity: 0.5;
	padding: 10px 15px;
	width:15%;
 }

 .panel-collapse-region .panel-body-region {
  border-bottom: 1px solid #ddd;
}
 
 .panel-scope{
 	float: left;
	width: 25%;
	border: solid;
	height: 100%;
}
 .countries{
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 1px;
	width:79%;
 }
  .link-countries{
	  
	 padding:15px;	 
	 width:17%;
 }
 
 .products{
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 1px;
	width:79%;
 }
 
 .link-products{
	 padding:15px;
	 width:22%;
 }
 
 .foglia{
    border-left-color: #ddd;
    border-left-style: solid;
    border-left-width: 1px;
	float: left;
	width:70%;
 }
 
 .panel-heading a {
  opacity: 0.5;
 }
 
 .countries a{
  opacity: 0.5;
 }
 
 .products a{
  opacity: 0.5;
 }

a:hover, .dropdown:hover {
    opacity: 1;
}

.container-filter {
    margin-right: auto;
    margin-left: auto;
	background-color: #fff;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.62857143;
    color: #333;
	text-align: left;
}

@media (min-width: 1200px)
.container-filter {
    width: 1170px;
}
@media (min-width: 992px)
.container-filter {
     width: 970px; 
}
@media (min-width: 768px)
.container-filter {
    width: 750px;
}

.detail-poi p {
    display: block;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    margin-left: 0;
    margin-right: 0;
}


.panel > .panel-body-region-region + .table,
.panel > .panel-body-region-region + .table-responsive,
.panel > .table + .panel-body-region,
.panel > .table-responsive + .panel-body-region {
  border-top: 1px solid #ddd;
}

.panel-group .panel-heading + .panel-collapse > .panel-body-region,
.panel-group .panel-heading + .panel-collapse > .list-group {
  border-top: 1px solid #ddd;
}

.panel-group .panel-footer + .panel-collapse .panel-body-region {
  border-bottom: 1px solid #ddd;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body-region {
  border-top-color: #ddd;
}

.panel-primary > .panel-heading + .panel-collapse > .panel-body-region {
  border-top-color: #428bca;
}

.panel-primary > .panel-footer + .panel-collapse > .panel-body-region {
  border-bottom-color: #428bca;
}

.panel-success > .panel-heading + .panel-collapse > .panel-body-region {
  border-top-color: #d6e9c6;
}
.panel-info > .panel-heading + .panel-collapse > .panel-body-region {
  border-top-color: #bce8f1;
}

.panel-info > .panel-footer + .panel-collapse > .panel-body-region {
  border-bottom-color: #bce8f1;
}

.panel-warning > .panel-footer + .panel-collapse > .panel-body-region {
  border-bottom-color: #faebcc;
}


.panel-danger > .panel-heading + .panel-collapse > .panel-body-region {
  border-top-color: #ebccd1;
}



.panel-danger > .panel-footer + .panel-collapse > .panel-body-region {
  border-bottom-color: #ebccd1;
}



.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body-region:before,
.panel-body-region:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body-region:after,
.modal-footer:after {
  clear: both;
}